html {
  background-color: #ededed;
  padding: 90px;
  width: 900px;
  margin: auto;
  font-family: 'Noto Sans KR', sans-serif;
}

.search {
  height: 40px;
  width: 100%;
  border: 0px;
  border-radius: 40px;
  background: #ededed;
  box-shadow:  8px 8px 16px #d3d3d3, -8px -8px 16px #ffffff;
  cursor: pointer; 
}

.focus-in-expand {
	-webkit-animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.main-title {
  width:100%;
  margin:0px 0px 80px;
  color: #282828;
  text-align: center;
  font-size: 38px;
}

.hi-title {
  margin-top:30px;
  color: #282828;
}

.main-card-warp {
  width:100%;
  padding:30px;
}

.main-card {
  width: 160px;
  height: 200px;
  border-radius: 30px;
  background: #ededed;
  box-shadow:  8px 8px 16px #d3d3d3, -8px -8px 16px #ffffff;
  cursor: pointer; 
}

.main-card-add {
  width: 160px;
  height: 200px;
  border: 1px dashed #b5b5b5;
  border-radius: 30px;
  cursor: pointer;
}

/* Hover.css > Icon */
@-webkit-keyframes hvr-icon-pulse-shrink {
  to {
    -webkit-transform: scale(0.5);
    transform: scale(0.9);
  }
}
@keyframes hvr-icon-pulse-shrink {
  to {
    -webkit-transform: scale(0.5);
    transform: scale(0.9);
  }
}
.hvr-icon-pulse-shrink {
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}
.hvr-icon-pulse-shrink .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  cursor: pointer;
  margin-left: 5px;
}
.hvr-icon-pulse-shrink {
  -webkit-animation-name: hvr-icon-pulse-shrink;
  animation-name: hvr-icon-pulse-shrink;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}


.main-content-warp {
  padding:40px;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}
li {
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  background: #ededed;
  box-shadow:  8px 8px 16px #d3d3d3, -8px -8px 16px #ffffff;
  cursor: pointer;
  color: #4f4f4f;
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  float: right;
}
.content-title {
  font-weight: 700;
}
.content:first-child {
  margin-top: 20px;
}
