.App {
  padding: 90px;
  width: 800px;
  margin: auto;
}

.search {
  height: 40px;
  width: 100%;
  background: #e9e9e9;
  border-radius: 40px;
  border: 0px;
  padding-left: 10px;
}

.title {
  margin-top: 40px;
}

.main-card-warp {
  width:580px;
  padding:25px;
  display: flex;
  justify-content: space-between;

}

.MainCard {
  background: rgb(255, 169, 169);
  border-radius: 30px;
  width: 150px;
  height: 150px;
}

/* Hover.css > Icon */
@-webkit-keyframes hvr-icon-pulse-shrink {
  to {
    -webkit-transform: scale(0.5);
    transform: scale(0.9);
  }
}
@keyframes hvr-icon-pulse-shrink {
  to {
    -webkit-transform: scale(0.5);
    transform: scale(0.9);
  }
}
.hvr-icon-pulse-shrink {
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}
.hvr-icon-pulse-shrink .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  cursor: pointer;
  margin-left: 5px;
}
.hvr-icon-pulse-shrink {
  -webkit-animation-name: hvr-icon-pulse-shrink;
  animation-name: hvr-icon-pulse-shrink;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
